<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HELLO Form Settings</title>
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <h1>Form Settings:</h1>
    <h2>File: {{ file_name }}</h2>
    <h2>Table: {{ table_name }}</h2>
    <!-- Form content here -->
    <!--Notes:
        Could use table name passed into template
        -->
    <h2>Column Mapping</h2>
    <form method="POST" action="/submit?file={{file_name}}">
      <table>
        <tr>
          <th>File Column Name</th>
          <th>DB Column Name</th>
        </tr>
        {% for column in column_names %}
        <tr>
          <td>{{ column }}</td>
          <td>
            <select id="columnSelect">
              <option value="" selected disabled hidden>Choose Table</option>
              {% for dbcolumn in db_column_names %}
              <option value="dbcolumn">{{ dbcolumn }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </table>

      <!--
      {% for column in column_names %}
      <label>{{ column }}</label><br />
      <div>
        <select name="foreignkey_column_{{ column }}" class="column-select">
          {% for column_key in col_names%}
          <option value="normal_field">{{column_key}}</option>
          {% endfor %}
        </select>
      </div>

      <br /><br />
      {% endfor %}
      -->
      <button type="submit">Submit</button>
    </form>
  </body>

  <script></script>
</html>
