<!DOCTYPE html>
<html>
  <head>
    <title>CSV Column Form</title>
  </head>
  <body>
    <h1>Form with CSV Columns</h1>
    <form>
      {% for column in column_names %}
      <label>{{ column }}</label><br />
      <select name="{{ column }}">
        <option id="normal_field" value="normal_field" selected>
          Normal Field
        </option>
        <option id="primary_key" value="primary_key">Primary Key</option>
        <option id="foreign_key" value="foreign_key">Foreign Key</option>
        <option id="allowed_values" value="allowed_values">
          Allowed Values
        </option>
      </select>
      <br /><br />
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
