<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Settings</title>
  </head>
  <style></style>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/style.css') }}"
  />
  <body>
    <h1>Form Settings:</h1>
    <h2>File: {{ file_name }}</h2>
    <h2>Table: {{ table_name }}</h2>
    <h2>Column Mapping</h2>
    <form method="POST" action="/submit?file={{ file_name }}">
      <table>
        <tr>
          <th>File Column Name</th>
          <th>DB Column Name</th>
        </tr>
        {% for column in metadata[file_name]['column_names'] %}
        <tr>
          <td>{{ column }}</td>
          <td>
            <select id="columnSelect">
              <option value="" selected disabled hidden>Choose Table</option>
              {% for dbcolumn in db_column_names %}
              <option value="dbcolumn">{{ dbcolumn }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </table>
      <button type="submit">Submit</button>
    </form>
  </body>
  <script></script>
</html>
